.log{	
	width: 36%;
	border: 3px solid RGB(68,114,196);
	background-color: RGB(190,190,190);
}

.bienvenue{
    color: white;
}

body {
	background-repeat:no-repeat;
    background-image: url("image/fond.jpg");
    background-size: cover;
    background-color: #cccccc;
}